<div class="tab-pane fade " id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
    <div class="container d-flex align-items-center">
      <div class="row row-cols-3 text-center">
        <div class="col">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSPG9-odNhJXlRv8vSKY8I2EH12WbvL5BRdAw&s"
            alt="Lights" class="ratio ratio-1x1 border rounded">
        </div>
        <div class="col">
          <img src="./imagenes/imagen2.jpg" alt="Nature" class="ratio ratio-1x1 border rounded">
        </div>
        <div class="col">
          <img src="./imagenes/imagen3.jpg" alt="Fjords" class="ratio ratio-1x1 border rounded">
        </div>
        <div class="col">
          <img src="./imagenes/imagen4.jpg" alt="Lights" class="ratio ratio-1x1 border rounded">
        </div>
        <div class="col">
          <img src="./imagenes/imagen5.jpg" alt="Nature" class="ratio ratio-1x1 border rounded">
        </div>
        <div class="col">
          <img src="./imagenes/imagen6.jpg" alt="Fjords" class="ratio ratio-1x1 border rounded">
        </div>
        <div class="col">
          <img src="./imagenes/imagen7.jpg" alt="Lights" class="ratio ratio-1x1 border rounded">
        </div>
        <div class="col">
          <img src="./imagenes/imagen8.jpg" alt="Nature" class="ratio ratio-1x1 border rounded">
        </div>
        <div class="col">
          <img src="./imagenes/imagen9.jpg" alt="Fjords" class="ratio ratio-1x1 border rounded">
        </div>
      </div>
    </div>
  </div>